<component name="libraryTable">
  <library name="spring-web-4.2.4.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/springmvc4.2.4/spring-web-4.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/springmvc4.2.4/spring-webmvc-4.2.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>